// Colors
$color-white:           #FFFFFF;
$color-gray95:          #F2F2F2;
$color-lightgray:       #E1E1E1;
$color-lightgray2:      #D7D7D7;
$color-dark-grayish:    #AAABAB;
$color-dark-gray:       #626262;
$color-gray13:          #212121;
$color-black-blue:      #202528;
$color-black-blue2:     #181B1E;
$color-black-blue3:     #1A1E21;
$color-bright-red:      #F44336;
$color-strong-cyan:     #00BAD2;
